---
  CinderVolumeTypes.create_and_set_volume_type_keys:
    -
      args:
        description: "rally tests creating types"
        volume_type_key:
          volume_backend_name: "LVM_iSCSI"
      runner:
        type: "constant"
        times: 5
        concurrency: 2
      context:
        users:
          tenants: 2
          users_per_tenant: 2
      sla:
        failure_rate:
          max: 0
