---
  CinderQos.create_and_set_qos:
    -
      args:
        consumer: "back-end"
        write_iops_sec: "10"
        read_iops_sec: "1000"
        set_consumer: "both"
        set_write_iops_sec: "11"
        set_read_iops_sec: "1001"
      runner:
        type: "constant"
        times: 5
        concurrency: 2
      context:
        users:
          tenants: 2
          users_per_tenant: 2
      sla:
        failure_rate:
          max: 0
