---
  CinderVolumeBackups.create_incremental_volume_backup:
    -
      args:
        size: 1
        create_volume_kwargs: {}
        create_backup_kwargs: {}
      runner:
        type: "constant"
        times: 5
        concurrency: 2
      context:
        users:
          tenants: 2
          users_per_tenant: 2
        roles:
          - "admin"
      sla:
        failure_rate:
          max: 0

