python-mistralclient
python-fuelclient==6.1.0                               # Apache Software License
python-muranoclient>=0.5.5                             # Apache License, Version 2.0
python-monascaclient>=1.0.22                           # Apache Software License
python-cueclient>=1.0.0                                # Apache License, Version 2.0
python-senlinclient>=0.3.0                             # Apache Software License
python-magnumclient>=2.0.0                             # Apache Software License
gnocchiclient>=2.2.0                                   # Apache Software License
