Babel>=0.9.6
eventlet>=0.9.17
iso8601>=0.1.4
jsonschema>=2.0.0
netaddr>=0.7.6
oslo.config>=1.2.0
paramiko>=1.8.0
pbr>=0.5.21,<1.0
PrettyTable>=0.6,<0.8
psutil
pytest
pytest-timeout
SQLAlchemy>=0.7.8,<0.7.99
sh
six

-e git+https://github.com/simpleranchero/fuel-ostf-tests#egg=fuel-ostf-tests


