# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

hacking>=0.12.0,!=0.13.0                               # Apache Software License

pytest>=2.7;python_version>'3.4'                       # MIT
# py.test plugin for measuring coverage.
pytest-cov>=2.2.1                                      # MIT
# py.test plugin for generating HTML reports
pytest-html>=1.10.0                                    # Mozilla Public License 2.0 (MPL 2.0)
# py.test xdist plugin for distributed testing and loop-on-failing modes
pytest-xdist                                           # MIT

ddt                                                    # MIT
python-dateutil                                        # Dual License
testtools                                              # UNKNOWN

sphinx!=1.6.6,!=1.6.7,!=2.1.0                          # BSD
oslosphinx                                             # Apache Software License

testresources                                          # UNKNOWN

# needed for functional job
stestr                                                 # Apache Software License
mock 