# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

hacking>=0.12.0,!=0.13.0                               # Apache Software License

pytest>=2.7                                            # MIT
# py.test plugin for measuring coverage.
pytest-cov>=2.2.1                                      # MIT
# py.test plugin for generating HTML reports
pytest-html>=1.10.0                                    # Mozilla Public License 2.0 (MPL 2.0)
# py.test xdist plugin for distributed testing and loop-on-failing modes
pytest-xdist                                           # MIT

ddt>=1.0.1                                             # UNKNOWN
mock>=2.0.0                                            # UNKNOWN
python-dateutil>=2.4.2                                 # Simplified BSD
testtools>=2.2.0                                       # UNKNOWN

sphinx>=1.6.2,!=1.6.6                                  # BSD
oslosphinx>=4.7.0                                      # Apache Software License

testresources>=2.0.0                                   # UNKNOWN
