# Install bounded pep8/pyflakes first, then let flake8 install
pep8==1.4.5
pyflakes==0.7.2
flake8==2.0
hacking>=0.6,<0.8

coverage
discover
fixtures>=0.3.12
mock>=1.0
mox>=0.5.3
python-subunit<=0.0.13
testrepository>=0.0.13
testtools>=0.9.22
