---
  CinderVolumes.create_and_attach_volume:
    -
      args:
          size: 10
          image:
            name: "^cirros.*uec$"
          flavor:
            name: "m1.nano"
      runner:
        type: "constant"
        times: 5
        concurrency: 1
      context:
        users:
          tenants: 2
          users_per_tenant: 2
