---
  HeatStacks.create_and_list_stack:
    -
      args:
        template_path: "samples/tasks/scenarios/heat/templates/default.yaml.template"
      runner:
        type: "constant"
        times: 10
        concurrency: 1
      context:
        users:
          tenants: 1
          users_per_tenant: 1
