---
  NovaHypervisors.list_and_get_uptime_hypervisors:
    -
      args:
        detailed: True
      runner:
        type: "constant"
        times: 2
        concurrency: 2
      context:
        users:
          tenants: 3
          users_per_tenant: 2
      sla:
        failure_rate:
          max: 0
