---
  NeutronBGPVPN.create_and_list_networks_associations:
    -
      args: {}
      runner:
        type: "constant"
        times: 10
        concurrency: 2
      context:
        users:
          tenants: 1
          users_per_tenant: 1
        network: {}
      sla:
        failure_rate:
          max: 0
