{% set flavor_name = flavor_name or "m1.tiny" %}
---
  NeutronBGPVPN.create_and_list_networks_associations:
    -
      args: {}
      runner:
        type: "constant"
        times: 10
        concurrency: 2
      context:
        users:
          tenants: 1
          users_per_tenant: 1
        network: {}
        servers:
          servers_per_tenant: 1
          auto_assign_nic: True
          flavor:
            name: "{{flavor_name}}"
          image:
            name: "^cirros.*-disk$"
      sla:
        failure_rate:
          max: 0
